.ContainerCard {
  text-align: center;
  overflow: hidden;
}
.data{
  color: #ffffff;
  margin-right: 230px;
}
.data-div{
  margin-top: 20px;
  margin-left: 300px;
  margin-right: 10px;
  height: 250px;
  width: 400px;
  background-color: #17222a;
}
.data-div:hover{
  border: 2px solid rgb(74, 74, 255);
  
}
.img{
  width: 27px;
  height: 27px;
}
.button{
  margin-top: 100px;
  border: 2px solid #76cdb2;
  /* padding: 10px; */
  margin-right: 14px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #17222a;
  cursor: pointer;
}

.RowData{
  display: flex;
  align-items: center;
  justify-content:space-between
}
.icon{
  width: 40px;
  height: 27px;
  margin-left: 50px;
}